*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: -apple-system, sans-serif;
}

body {
  margin: 0;
  background: #3d3d3d; 
  font-family: Arial, sans-serif;
}

/* HEADER */
.header {
  width: 100%;
  padding: 15px 30px;
  background: #696969;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
}

/* LEFT SIDE (circle + Name) */
.left-section {
  display: flex;
  align-items: center;
  gap: 20px;
}
.profile-pic img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.brand-name {
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
}

/* NAV MENU */
.nav-menu {
  background: #4a4a4a;
  padding: 8px 25px;
  border-radius: 25px;
  display: flex;
  gap: 30px;
}

.nav-item {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 8px 20px;
  border-radius: 20px;
}

.nav-item.active {
  color: red;
}
