*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: -apple-system, sans-serif;
}
:root{
    --bg-clr:#474747;
    --2nd_bg-clr:#767676;
    --3rd_bg-clr:#6BE347;
    --text-clr_d-bg:rgb(255, 255, 255);
    --text-clr_l_bg:rgb(226, 224, 224);
    --active-clr:red;
}

body {
  margin: 0;
  background: var(--bg-clr); 
  font-family: Arial, sans-serif;
}

/* HEADER */
.header {
  position: fixed;
  width: 100%;
  padding: 10px 20px;
  background: var(--2nd_bg-clr);
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
}

/* LEFT SIDE (circle + Name) */
.left-section {
  display: flex;
  align-items: center;
  gap: 20px;
}
.profile-pic img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.brand-name {
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
}

/* NAV MENU */
.nav-menu {
  background: var(--bg-clr);
  padding: 10px 40px;
  border-radius: 30px;
  display: flex;
}

.nav-item {
  text-decoration: none;
  color: var(--text-clr_d-bg);
  font-size: 16px;
  padding: 8px 30px;
  border-radius:30px;
}

.nav-item.active {
  color:var(--text-clr_l_bg);
  background-color: var(--2nd_bg-clr);
}


/* bio section */
.pro_info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 30px;
}

.my_image img {
    width: 50%;
    height: 50%;
    border-radius: 50%;
}
.right-side{
  display: flex;
  flex-direction: column;
}

.short_data {
    width: 350px;
    color: var(--text-clr_l_bg);
    font-size: 16px;
    line-height: 1.5;
}

/* resume section */

.resume{
  background-color: var(--2nd_bg-clr);
 padding: 8px;
  display: flex;
  margin-top: 40px;
  border-radius: 30px;
  justify-content: space-between;
  align-items: center;
}
.resume p{
  color: var(--text-clr_l_bg);
  margin-left: 10%;
}
.resume button a{
  color: var(--text-clr_d-bg);
}
.resume button{
padding: 8px 50px;
border-radius: 30px;
  background-color: var(--3rd_bg-clr);
}