* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: -apple-system, sans-serif;
}

:root {
  --bg-clr: #778873;
  --2nd_bg-clr: #A1BC98;
  --3rd_bg-clr: #6BE347;
  --heading-clr: #D2DCB6;
  --text-clr_d-bg: rgb(255, 255, 255);
  --text-clr_l_bg: rgb(65, 65, 65);
}

body {
  margin: 0;
  background: var(--bg-clr);
  font-family: Arial, sans-serif;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

section {
  padding: 30px 20px 20px;
}

section h2 {
  margin-bottom: 20px;
}

section h4,
h5 {
  margin-bottom: 5px;
}


/* HEADER */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 20px;
  background: var(--2nd_bg-clr);
  backdrop-filter: blur(10px);
  transition: all 0.5s ease;
}

/* LEFT SIDE (circle + Name) */
.left-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-pic img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.brand-name {
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
}

/* NAV MENU */
.nav-menu {
  background: var(--bg-clr);
  padding: 10px 40px;
  border-radius: 30px;
  display: flex;
}

.nav-item {
  text-decoration: none;
  color: var(--text-clr_d-bg);
  font-size: 16px;
  padding: 8px 30px;
  border-radius: 30px;
}

.nav-item.active {
  color: var(--text-clr_l_bg);
  background-color: var(--2nd_bg-clr);

}


/* bio section */
.pro_info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 30px;
}

.my_image img {
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

.right-side {
  display: flex;
  flex-direction: column;
}

.short_data {
  width: 350px;
  color: var(--text-clr_l_bg);
  font-size: 16px;
  line-height: 1.5;
}

/* resume section */

.resume {
  background-color: var(--2nd_bg-clr);
  padding: 8px;
  display: flex;
  margin-top: 40px;
  border-radius: 30px;
  justify-content: space-between;
  align-items: center;
}

.resume p {
  color: var(--text-clr_l_bg);
  margin-left: 10%;
}

.resume button a {
  color: var(--text-clr_d-bg);
}

.resume button {
  padding: 8px 50px;
  border-radius: 30px;
  background-color: var(--3rd_bg-clr);
}

/* section */
.page-head {
  font-weight: bold;
  font-size: 30px;
}

/*about section */
.about-section {
  margin-left: 20px;
  margin-top: 300px;
  position: relative;
}

.about-section p {
  color: var(--text-clr_d-bg);
}

.about-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  border-radius: 20px;
}

/* education section */
.Education-section {
  background: var(--2nd_bg-clr);
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  width: 95vw;
}

.degree-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-clr_d-bg);
  background: var(--bg-clr);
  padding: 60px;
  width: 50%;
  height: 60vh;
  border-radius: 20px;
}

.data {
  margin-top: 20px;
}

.Education-content {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  gap: 20px;
}


/* experience section */
.experience-content {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}

.experience-items {
  color: var(--text-clr_d-bg);
  background: var(--2nd_bg-clr);
  padding: 20px;
  border-radius: 20px;
  width: 50%;
  height: 60vh;
}

.experience-section {
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  width: 95vw;
}
.experience-section p {
  margin-top: 20px;
}

/* hobbies section*/
.Hobbies-content {
  margin-top: 40px;
  margin-left: 10px;
  display: flex;
  gap: 20px;
}

.Hobbies-section {
  background: var(--2nd_bg-clr);
  border-radius: 20px;
  height: 250px;
  margin: 20px;
  padding: 20px;
  width: 95vw;
}