*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: -apple-system, sans-serif;
}
:root{
    --bg-clr:#3d3d3d;
    --2nd_bg-clr:#696969;
    --text-clr:white;
    --active-clr:red;
}

body {
  margin: 0;
  background: var(--bg-clr); 
  font-family: Arial, sans-serif;
}

/* HEADER */
.header {
  width: 100%;
  padding: 15px 30px;
  background: var(--2nd_bg-clr);
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
}

/* LEFT SIDE (circle + Name) */
.left-section {
  display: flex;
  align-items: center;
  gap: 20px;
}
.profile-pic img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.brand-name {
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
}

/* NAV MENU */
.nav-menu {
  background: #4a4a4a;
  padding: 8px 25px;
  border-radius: 25px;
  display: flex;
  gap: 30px;
}

.nav-item {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 8px 20px;
  border-radius: 20px;
}

.nav-item.active {
  color:var(--active-clr);
}


/* bio section */
.pro_info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 90vh;
}

.my_image img {
    width: 50%;
    height: 50%;
    border-radius: 50%;
}

.short_data {
    width: 350px;
    padding: 20px;
    width: 50%;
    background: var(--2nd_bg-clr);
    border-radius: 15px;
    color: var(--text-clr);
    font-size: 16px;
    line-height: 1.5;
}
