*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: -apple-system, sans-serif;
}

body {
    background-color:white;
    color: black;
}

/*header section */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5%;
    background: rgb(126, 126, 126);
    backdrop-filter: blur(10px);
    transition: all 0.5s ease;
}
.header img{
    position: fixed;
}
.propic{
    display: flex;
    flex-direction: row;
}
.navbar{
    background: rgb(204, 204, 198);
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;

    gap: 10px;
}
.navbar a{
    padding: 20px;
}