* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: -apple-system, sans-serif;
}
:root {
  --bg-clr: #778873;
  --2nd_bg-clr: #A1BC98;
  --3rd_bg-clr: #6BE347;
  --heading-clr: #D2DCB6;
  --text-clr_d-bg: rgb(255, 255, 255);
  --text-clr_l_bg: rgb(65, 65, 65);
}

body {
  margin: 0;
  background: var(--bg-clr);
  color: var(--text-clr_d-bg);
  font-family: Arial, sans-serif;
}
html {
    font-size: 75%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
section {
    min-height: 100vh;
    padding: 4rem 6% 2rem;
}

/* HEADER */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: var(--2nd_bg-clr);
  backdrop-filter: blur(10px);
  transition: all 0.5s ease;
}

/* LEFT SIDE (circle + Name) */
.left-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-pic img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.brand-name {
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
}

/* NAV MENU */
.nav-menu {
  background: var(--bg-clr);
  padding: 10px 40px;
  border-radius: 30px;
  display: flex;
}

.nav-item {
  text-decoration: none;
  color: var(--text-clr_d-bg);
  font-size: 16px;
  padding: 8px 30px;
  border-radius: 30px;
}

.nav-item.active {
  color: var(--text-clr_l_bg);
  background-color: var(--2nd_bg-clr);
}


/* home section */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
  width: 300px;
  height: 300px;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--2nd_bg-clr);
    cursor: pointer;
    animation: floatImage 4s ease-in-out infinite;
    transition: 0.4s ease;
}

.home-img img:hover {
    box-shadow: 0 0 25px var(--2nd_bg-clr),
        0 0 35px var(--2nd_bg-clr),
        0 0 45px var(--2nd_bg-clr);
}